<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>SMOKE-BCN</title>
</head>

<body scroll="no" style="overflow: hidden" padding="0px;">


    <div class="hero-image">



        <%- body -%>



<<<<<<< HEAD

            <div id="user">
=======
<!-- 
            <div>
>>>>>>> 661a3fead10628f17a80a79919911413d1165d19
                <% if (user) { %>
                    <p>
                        <%=user.username%>
                    </p>
                    <form action="/logout" method="post">
                        <button>Bye, I'm High</button>
                    </form>
                    <% } %>
            </div> -->
    </div>

</body>

</html>