<div><div class="dropdown">
        <button class="dropbtn">logged in as
                <%=user.username%></button>
        <div class="dropdown-content">
            <div >
                <a href="/clubs">Clubs</a>
            </div>
                <div>
            
                <a href="/logout">Log Out </a> <!-- <button id="logginout">Bye, I'm High</button> -->
           
        </div>
          
        </div>
      </div></div>
<div class="hero-text">
    <form id="form" action="/addclub" method="POST">
        <label for="clubname">Clubname</label>
        <br>
        <input class="inputz"type="text" name="clubname" placeholder="">

        <br>
        <br>
        <label for="Location">Location</label>
        <br>
        <input class="inputz" type="text" name="address" placeholder="">
        <br>
        <br>
        <label for="Phonenumber">Phonenumber</lable>
            <br>
            <input class="inputz" type="text" name="phonenumber" placeholder="">
            <br>
            <br>
            <label for="website">Website</label>
            <br>
            <input class="inputz" type="text" name="website" placeholder="">
            <br>
            <br>
            <label for=“weed”>Best Type Weed</label>
            <br>
            <input class="inputz" type=“text” name=“weed” placeholder=>
            <br>
            <br>
            <lable for=“opens”>Opens at</lable>
            <br>
            <input class="inputz" type=“time” name=“open”>
            <br>
            <br>
            <lable for=“closes”>Closes at</lable>
            <br>
            <input class="inputz" type=“time” name=“close”>
            <br>
            <br>
            <label>Location</label>
            <input class="inputz" type="text" name="latitude" placeholder="">
            <input class="inputz" type="text" name="longitude" placeholder="">
            <br>
            <br>
            <input  type="image" src="imgs/leaf.png">
    </form>
</div>