<div>    

    <div>
        <p>CLUB INFO </p>
    </div>

    <div>
        <p>INFOOOOOOO</p>
    </div>

    <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message">
            <%= errorMessage %>
        </div>
        <% } %>
</div>