<h1>CLUBS LIST </h1>

<div id="clubslist">
    <ul>
        <a href="clubsinfo">
            <li>Clubs 1</li>
        </a>
        <a href="clubsinfo">
            <li>Clubs 2</li>
        </a>
        <a href="clubsinfo">
            <li>Clubs 3</li>
        </a>
        <a href="clubsinfo">
            <li>Clubs 4</li>
        </a>
        <a href="clubsinfo">
            <li>Clubs 5</li>
        </a>
    </ul>
</div>