<div class="hero-textb">
    <h3>Weed Map</h3>
    <div>
        <div id="map"></div>
    </div>
    <div id="clubs">

        <table>
            <tr>
                <th>Club Name</th>
                <th>Opens</th>
                <th>Location</th>
                <th>Rating</th>
            </tr>
            <tr>

        </table>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-1tNNlCpFXcyHKKDmGy8PL2kCbA0PBpE">
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript">
        var club = <% - JSON.stringify(clubs); %>
    </script>
    <script type="text/javascript" src="javascripts/main.js"></script>

</div>