<div class="hero-text">
  <div>
    <h1>
      SMOKE-BCN
    </h1>


    <a class="mainstuff" href="/login">Get High Again</a>
    <hr>
    <a class="mainstuff" href="/signup">Joint In</a>
  </div>
</div>