<h1>
  iSmoke BCN
</h1>
<p>Welcome!
</p>

<div id="club">
  <ul>
    <a href="">
      <li>Club 1</li>
    </a>
    <a href="">
      <li>Club 2</li>
    </a>
    <a href="">
      <li>Club 3</li>
    </a>
    <a href="">
      <li>Club 4</li>
    </a>
    <a href="">
      <li>Club 5</li>
    </a>
    <a href="">
      <li>Club 6</li>
    </a>
    <a href="">
      <li>Club 7</li>
    </a>
  </ul>
</div>