<div><div class="dropdown">
        <button class="dropbtn">Go Sign Up</button>
        <div id="droptwo" class="dropdown-content">
            <div >
                <a href="/signup">signup</a>
            </div>
          
        </div>
      </div></div>



<div class="hero-text">
    <form action="/login" method="POST">
        <div>
            <h1>Log In</h1>
            <div>
                <label for="username">Username:</label>
                <input class="inputlogin" type="text" name="username">
            </div>
            <hr>
            <div>
                <label for="password">Password:</label>
                <input class="inputlogin" type="password" name="password">
            </div>
            <% if (typeof message != "undefined") { %>
                <div class="error-message">
                    <%= message %>
                </div>
                <% } %>
                    <hr>
                    <div>
                        <input type="image" src="imgs/leaf.png">
                    </div>
        </div>
    </form>
</div>