<form action="/login" method="POST">
    <div>
        <h1>Log In</h1>
        <div>
            <label for="username">Username:</label>
            <input class="inputlogin" type="text" name="username">
        </div>
        <hr>
        <div>
            <label for="password">Password:</label>
            <input class="inputlogin" type="password" name="password">
        </div>
        <% if (typeof message != "undefined") { %>
            <div class="error-message">
                <%= message %>
            </div>
            <% } %>
                <hr>
                <div>
                    <input type="image" src="imgs/leaf.png">
                </div>
    </div>
</form>