<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Sign Up</title>
</head> -->

<!-- <body> -->
<form id="form" action="/signup" method="POST">
    <div>
        <h1>Signup</h1>
        <label for="username">Username</label>
        <br>
        <input class="placeholder" type="text" name="username" placeholder="Mary.J.Dealer">

        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input class="placeholder" type="password" name="password" placeholder="MunchCitty420">
        <br>
        <br>

        <input id="signup" type="image" src="imgs/leaf.png" width: 10px;/>


        <% if (typeof(errorMessage) != "undefined") { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
            <% } %>
    </div>
</form>
<!-- </html> -->