<div class="hero-text">
    <form id="form" action="/signup" method="POST">
        <div>
            <h1>Sign Up</h1>
            <label for="username">Username</label>
            <br>
            <input class="placeholder" type="text" name="username" placeholder="Mary.J.Dealer">

            <br>
            <br>
            <label for="password">Password</label>
            <br>
            <input class="placeholder" type="password" name="password" placeholder="MunchCitty420">
            <br>
            <br>

            <input id="signup" type="image" src="imgs/leaf.png" width: 10px;/>


            <% if (typeof(errorMessage) != "undefined") { %>
                <div class="error-message">
                    <%= errorMessage %>
                </div>
                <% } %>
        </div>
    </form>
    <div>
            <br><br><br>
                <a class="logsign" href="/login">Log In</a> 
                 
            </div>
</div>