body {
  padding: 50px;
  font-family: Montserrat;
  font-size: 14px;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00b7ff;
}

body {
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100%;
}

/* The hero image */

.hero-image {
  /* The image used */
  background-image: url("/imgs/bkgrnd.jpg");
  /* Set a specific height */
  height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */

.hero-text {
  font-family: Montserrat;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-textb {
  color: white;
}

input {
  background: transparent;
  border: none;
}

#signup {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

#signup.hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.mainstuff {
  color: white;
  text-decoration: none;
}

hr {
  clear: both;
  visibility: hidden;
}

textarea,
input,
button {
  outline: none;
  caret-color: white;
  color: white;
}

input.placeholder {
  text-align: center;
}

/*MAP*/

#map {
  height: 500px;
  width: 100%;
}

.loggedinas{
  color:white;
}


/*dropdownbar*/
.dropbtn {
  background-color:transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background:transparent;
}

#logginout{
  color:black
}